{% extends "paintingapp/base.html" %} {% load form_tags %}

{% block title %}Подача заявки на продажу своей картины{% endblock %}

{% block content %}

<style>
    .text-center {
        background-color: #e7e5c8;
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4>Форма подачи заявки на картину</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %} {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}:</label>
                            <br />
                            {{ field|add_class:"form-control" }} {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">
                            Отправить заявку
                        </button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <small>Спасибо за участие </small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}