{% extends "paintingapp/base.html" %}

{% block title %}Обратная связь{% endblock %} 

{% block content %}
<div class="container my-5 p-4 bg-light rounded shadow-sm animate__animated animate__fadeIn">
    <h1 class="text-center mb-4 text-primary">Форма обратной связи</h1>
    <p class="text-center lead">СПАСИБО ЗА ОБРАТНУЮ СВЯЗЬ!</p>
    <div class="mt-4">
        <h2 class="h4 mb-3">С нами можно связаться</h2>
        <p class="mb-3">Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нам.</p>
        <p>Мы ответим вам в кратчайшие сроки.</p>
    </div>
</div>
{% endblock %}
