{% extends "paintingapp/base.html" %} {% load form_tags %}
{% block title %}Вход{% endblock %}


{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4>Регистрация</h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %} {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}:</label>
                            <br />
                            {{ field|add_class:"form-control"  }} {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">
                            Зарегистрироваться
                        </button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <small
                        >Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></small
                    >
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}